
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center; 
}

header {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.header-separator {
    margin: 0;
    border: none;
    border-top: 2px solid #000;
    width: 100%;
}

.logo img {
    height: 70px;
    width: 150px;
    margin-right: 20px;
}

.nav-content {
    display: flex; 
    align-items: center;
}

.house-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #000;
}

main {
    display: flex;
    flex-grow: 1;
    width: 100%; 
    max-width: 1200px;
    margin: 10px auto; 
    box-sizing: border-box;
}

.custom-error {
    color: white;
    background-color: rgb(243, 77, 77);
    width: 80%;
    margin-bottom: 10px;
    margin-left: 30px;
    padding-left: 50px;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-size: 28px;
    border-radius: 20px;
}

.sidebar,
.main-content {
    width: 50%; 
    box-sizing: border-box; 
    position: relative;
}

.sidebar {
    background-color: #f0f0f0;
    padding: 50px;
    overflow-y: auto;
}


.main-background img{
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #000;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}

footer p {
    color: #f0f0f0;
    font-size: 18px;
    margin: 0 auto;
}

nav a {
    color: #f0f0f0;
    text-decoration: none;
    margin-right: 20px;
}

.social-icons a {
    font-size: 16px;
    margin: 0 5px;
}

.social-icons {
    margin-right: 20px;
}

.home-btn {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 32px;
}

.user-section {
    display: flex;
    align-items: center;
    padding: 10px;
}

.user-icon {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.user-icon img {
    width: 100%;
    display: block;
}

.user-login {
    font-size: 38px;
    text-decoration: underline;
    padding-left: 10PX;
}

.text-login, .addnew{
    text-decoration: none;
    color: inherit;
}

.user-name {
    font-size: 32px;
    margin-left: 20px;
    text-align: center; 
}

.edit-icon {
    margin-left: 30px;
    margin-top: 10px;
}

.list-item, h3, .list-task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.list-container {
    display: none;
}

.list-container.show {
    display: block;
}

footer, .home-btn, h1 {
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*
***
*/

.auth-container, .profile-container {
    background-color: #fff; 
    padding: 100px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    width: 50%;
}

.login-form{
    margin-top: 20px;
}

.profile{
    margin-top: -80px;

}

.btn-upload {
    margin-left: -5px;

}

input {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    box-sizing: border-box;
}

.name-fields, .form-field {
    display: flex;
    gap: 20px;
}

.name-fields input, input[type="email"],
textarea {
    width: 100%;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}

.btn-primary {
    background-color: #54a6e1;
}

.btn-secondary {
    background-color: #f0f0f0;
    color: #000;
}

::placeholder, .btn-primary, .btn-secondary{
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 3px solid #f0f0f0;
}

.profile-picture {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 30px;
}

.profile-picture .btn {
    width: auto;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-left: 200px;
}

.button-group .btn {
    width: 50%;
}

/*
*
*/
.new-task, .updating-task, .form-container {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;  
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
  
h2 {
    margin-top: 0;
    font-size: 32px;
    margin-top: 100px;
}
  
.task-input {
    width: 100%;
    padding: 50px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;

}

.task-input::placeholder {
    position: absolute;
    top: 2px;
    left: 8px;
    font-size: 24px;
    color: #d9d9d9;
    line-height: 1;
}
  
.date-time {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
  
.date-field, .time-field {
    width: 48%;
}
  
label {
    display: block;
    margin-bottom: 5px;
    font-size: 24px;
}
  
input[type="date"], input[type="time"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type="date"] {
    position: relative;
}
  
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}
  
.save-btn, .update-btn, button {
    display: block;
    width: 100px;
    padding: 5px;
    background-color: #54a6e1;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: auto;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}
  
.save-btn:hover, .update-btn:hover, .btn-primary:hover, button:hover {
    background-color: #2980b9;
}

/*
*
*/
  
.form-field {
    margin-bottom: 20px;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}
  
textarea {
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: -20px;
    line-height: 1.2;
    padding-top: 20px;
    padding-left: 10px;
}

.contact-form {
    padding: 50px;
    margin-top: 150px;
}

h1 {
    text-align: center;
}

.team-member {
    display: flex;
    align-items: center;
    margin-top: -80px;
}

.info{
    margin-left: 20px;
    padding: 10px;

}


.member-icon {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 10px;
}

.member-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


