<include href="{{ @aside }}"/>
<div class="new-task">
	<h2>New Task</h2>
	<form action="{{ @BASE }}/tasks/add" method="POST">
		<input type="text" class="task-input" name="content" placeholder="Enter new task" required>
		<div class="date-time">
			<div class="date-field">
				<label for="due_date">Due Date (optional)</label>
				<input type="date" id="due_date" name="due_date">
			</div>
			<div class="list-dropdown">
				<label name="lists">Task Category</label>
				<select name="list_id">
					<include href="{{ @listsdrop }}"/>
				</select>
			</div>
		</div>
		<input type="submit" class="btn btn-primary btn-lg mt-3" value="AddTask">
	</form>
</div>